In [86]:

import pandas as pd
from sqlalchemy import create_engine 
import pymysql.cursors
import os
import getpass
import urllib.parse
import datetime

In [3]:
pw_raw = os.getenv('kranta_sql_password')
pw = urllib.parse.quote_plus(pw_raw)

In [18]:
food_waste_df = pd.read_csv('Food Waste data and research - by country.csv')
population_df = pd.read_csv('WorldPopulation2023.csv')
happiness_df = pd.read_csv('World Happiness Report 2013.csv')
country_region_df = pd.read_csv('country_region.csv')
fruits_df = pd.read_csv('fruit_country.csv')
animals_df = pd.read_csv('animal_country.csv')

food_waste_df.columns = list(map(lambda x :x.lower().replace(" ","_").strip(), food_waste_df.columns))
population_df.columns = list(map(lambda x :x.lower().replace(" ","_").strip(), population_df.columns))
happiness_df.columns = list(map(lambda x :x.lower().replace(" ","_").strip(), happiness_df.columns))
country_region_df.columns = list(map(lambda x :x.lower().replace(" ","_").strip(), country_region_df.columns))
fruits_df.columns = list(map(lambda x :x.lower().replace(" ","_").strip(), fruits_df.columns))
animals_df.columns = list(map(lambda x :x.lower().replace(" ","_").strip(), animals_df.columns))

In [60]:
population_df
fruits_df
animals_df 
happiness_df
country_region_df 
food_waste_df

,country,combined_figures_(kg/capita/year),household_estimate_(kg/capita/year),retail_estimate_(kg/capita/year),food_service_estimate_(kg/capita/year),region
0,Afghanistan,126,82,16,28,Southern Asia
1,Albania,127,83,16,28,Southern Europe
2,Algeria,135,91,16,28,Northern Africa
3,Andorra,123,84,13,26,Southern Europe
4,Angola,144,100,16,28,Sub-Saharan Africa
...,...,...,...,...,...,...
209,Venezuela (Boliv. Rep. of),116,72,16,28,Latin America and the Caribbean
210,Viet Nam,120,76,16,28,South-eastern Asia
211,Yemen,148,104,16,28,Western Asia
212,Zambia,122,78,16,28,Sub-Saharan Africa
213,Zimbabwe,144,100,16,28,Sub-Saharan Africa

In [100]:
connection_string = 'mysql+pymysql://root:' + pw + '@127.0.0.1:3306/api_foodwaste'
engine = create_engine(connection_string)

In [101]:
sql_ = pd.read_sql_query

In [107]:
# sql_
# sql_ = pd.DataFrame(food_waste_df)
# sql_.to_sql('foodwaste',engine, 'api_foodwaste', if_exists='replace', index=False)
# sql_
# sql_ = pd.DataFrame(population_df)
# sql_.to_sql('population',engine, 'api_foodwaste', if_exists='replace', index=False)
# sql_
# sql_ = pd.DataFrame(animals_df)
# sql_.to_sql('animal',engine, 'api_foodwaste', if_exists='replace', index=False)

85